[D-BUS Service]
Name=com.jolla.camera
Exec=/usr/bin/invoker --type=silica-media,silica-qt5 --desktop-file=jolla-camera.desktop -s -n -d 5 /usr/bin/jolla-camera
