[Desktop Entry]
Type=Application
NoDisplay=true
Name=Camera
X-MeeGo-Logical-Id=jolla-camera-ap-name
X-MeeGo-Translation-Catalog=jolla-camera
Icon=icon-launcher-camera
Exec=invoker -s --type=silica-media,silica-qt5 /usr/bin/jolla-camera
# Exec=/usr/bin/sailjail -p jolla-camera.desktop /usr/bin/jolla-camera
Comment=Jolla Camera
X-Maemo-Service=com.jolla.camera
X-Maemo-Method=com.jolla.camera.ui.showViewfinder
