[Desktop Entry]
Type=Application
Name=Camera
Name[zh_CN]=相机
Icon=icon-launcher-camera
Exec=invoker -s --type=silica-qt5 /usr/bin/jolla-camera
Comment=Jolla Camera

