[Desktop Entry]
Type=Application
NoDisplay=true
Name=Camera
X-MeeGo-Logical-Id=jolla-camera-ap-name
X-MeeGo-Translation-Catalog=jolla-camera
Icon=icon-launcher-camera
Exec=/usr/bin/invoker --type=silica-media,silica-qt5 -A -- /usr/bin/jolla-camera-lockscreen
Comment=Jolla Camera

[X-Sailjail]
ApplicationName=camera
OrganizationName=com.jolla
DataDirectory=jolla-camera
Permissions=Camera;Audio;Microphone;Pictures;Videos;MediaIndexing;Location;Privileged;RemovableMedia
